<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="css/employer.css">
    <title>MilkWay</title>
  </head>
  <body>

    <div class="header">
        <img src="css/logo.png" alt="MilkWay Logo" class="logo">
        <h1>MilkWay</h1>
    </div>

    <div class="button-grid">
      <a href="milkmen" class="button">
        <h2>Milkmen</h2>
      </a>

      <a href="Transaction.html" class="button">
        <div class="button__logo"></div>
        <h2>Transaction</h2>
      </a>

      <a href="Manager/milkrate.hbs" class="button">
        <div class="button__logo"></div>
        <h2>Milkrate</h2>
      </a>

      <a href="/templates/views/Manager/milkReport.hbs" class="button">
        <div class="button__logo"></div>
        <h2>Report</h2>
      </a>
    </div>
  </body>
</html>
